.section {
  min-height: 100vh;
  padding: 140px 60px 20px;
  background-color: #d1d1cf;
  text-align: left;
}

.body {
  background-image: linear-gradient(180deg, #5d5c5c, #fff);
}

.my-container {
  display: flex;
  max-width: 1160px;
  flex-direction: row;
  justify-content: flex-start;
}

.image {
  flex: 0 auto;
  background-color: #c2bdbd;
  text-align: left;
}

.form {
  display: flex;
  margin-bottom: 0px;
}

.right-div-block {
  display: block;
  margin-left: 0px;
}

.form-block {
  display: flex;
}

.text-field {
  max-width: 90%;
  margin-right: 10px;
  margin-bottom: 0px;
}

.paragraph {
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}

.heading {
  font-family: 'Fredericka the Great', sans-serif;
  color: #494950;
  font-size: 50px;
  line-height: 55px;
  font-style: normal;
  text-decoration: none;
}

.body-2 {
  background-color: #d1d1cf;
}

.text-block {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
}

.text-block-2 {
  height: 190px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 24px;
}

.utility-page-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.utility-page-content {
  display: flex;
  width: 260px;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.body-3 {
  margin-bottom: 0px;
  color: #333;
}

.field-label {
  color: #333;
}

@media screen and (max-width: 767px) {
  .my-container {
    flex-direction: column;
  }
}

